{% extends "hades/bare.html" %}
{% load static %}

{% block header %}
	<div class="header container">
		<ul class="nav navbar-nav">
			<li>Home</li>
			<li>Blog</li>
		</ul>
	</div>
{% endblock %}

{% block messageArea %}
	{% if messages %}
	<div class="container">
	    {% for message in messages %}
		    <div class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}warning{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}success{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}info{% endif %}">
		        {{ message }}
		    </div>
	    {% endfor %}
	</div>
	{% endif %}
{% endblock %}

{% block footer %}
	<div class="footer">
		<label>Sebastian & Friends &copy; 2017</label>
	</div>
{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'hades/js/base.js' %}"></script>
{% endblock %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'hades/css/base.css' %}">	
{% endblock %}
