{% extends "hades/base.html" %}
{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="left col-xs-4 normal">
			<a id="prev">
				<button class="container btn btn-default center">Prev</button>
			</a>
		</div>
		<div class="right col-xs-4 normal">
			<a id="next">
				<button class="container btn btn-default center">Next</button>
			</a>
		</div>
	</div>

	{% if blogs %}
		{% for blog in blogs %}
			<div class="entry">
				<div class="larger">
					<h3><strong>{{ blog.title }}</strong></h3>
				</div>
				<p class="smaller"><i>{{ blog.post_date }}</i></p>
				<div id="{{ blog.id }}" class="normal">
					<p>{{ blog.content }}</p>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<div class="container center">
			<h3>No posts available</h3>
		</div>
	{% endif %}
	<div class="container center">
		<button class="btn btn-default center" onclick="toggleForm()">Create entry</button>
	</div>
	<div id="createEntry" class="container row gone">
		<form class="form-group" action="{% url 'hades:blog' %}" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<input class="btn btn-primary" type="submit" value="Submit">
		</form>
	</div>
</div>
{% endblock %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'hades/css/blog.css' %}">
{% endblock %}

{% block javascript %}
	{{ block.super }}

<script type="text/javascript">
	var page = parseInt({{ page }}),
		lastPage = parseInt({{ lastPage }}),
		$prev = $("#prev"),
		$next = $("#next"),
		$form = $("#createEntry");

	function toggleForm() {
		if ($form.hasClass('gone')) {
			$form.removeClass('gone');
			$form.addClass('inline');
		}
		else {
			$form.removeClass('inline');
			$form.addClass('gone');
		}
	}

	if (page <= 0) {
		$prev.css('visibility', 'hidden');
	}

	if (page >= lastPage) {
		$next.css('visibility', 'hidden');
	}

	$prev.attr('href', '/blog/' + (page-1));
	$next.attr('href', '/blog/' + (page+1));
</script>
{% endblock %}
