{% extends "hades/base.html" %}
{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}
<div class="container">
	{% if blogs %}
		<div class="row">
			<div class="left normal">
				<a id="prev" class="gone">
					<button class="btn btn-default center">Prev</button>
				</a>
			</div>
			<div class="right normal">
				<a id="next" class="gone">
					<button class="btn btn-default center">Next</button>
				</a>
			</div>
		</div>
		<div class="row">
			{% for blog in blogs %}
				<div class="entry col-xs-12 col-sm-3">
					<div class="larger">
						<h3><strong>{{ blog.title }}</strong></h3>
					</div>
					<p class="smaller"><i>{{ blog.post_date }}</i></p>
					<div id="{{ blog.id }}" class="normal">
						<p>{{ blog.content }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class="container center">
			<h3>No posts available</h3>
		</div>
	{% endif %}
	<div class="center">
		<button class="btn btn-default center" onclick="toggleForm()">Create entry</button>
	</div>
	<div id="createEntry" class="gone center">
		<form class="form-group" action="{% url 'hades:blog' %}" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<input class="btn btn-primary" type="submit" value="Submit">
		</form>
	</div>
</div>
{% endblock %}

{% block javascript %}
	{{ block.super }}

<script type="text/javascript">
	var page = parseInt({{ page }}),
		lastPage = parseInt({{ lastPage }}),
		$prev = $("#prev"),
		$next = $("#next"),
		$form = $("#createEntry");

	function showElement($el) {
		$el.removeClass('gone');
		$el.addClass('inline');
	}

	function hideElement($el) {
		$el.removeClass('inline');
		$el.addClass('gone');
	}

	function toggleForm() {
		if ($form.hasClass('gone')) {
			showElement($form);
		}
		else {
			hideElement($form);
		}
	}

	if (page > 0) {
		showElement($prev);
	}

	if (page < lastPage) {
		showElement($next);
	}

	$prev.attr('href', '/blog/' + (page-1));
	$next.attr('href', '/blog/' + (page+1));
</script>
{% endblock %}
