{% extends "hades/base.html" %}
{% load static %}

{% block title %}Matt Erickson{% endblock %}

{% block content %}
<div class="container larger">
    <p>Hello, I'm Matthew Erickson</p>
    <p>I currently work at Expedia as a software developer on the Expedia
    Search and Suggest team. We focus on typeahead suggestions and search
    resolution</p>
    <p>In my free time I like to go rock climbing, hiking, work on personal
    coding projects, and take long walks on the beach</p>
    <p>Here's some links you may or may not care about:</p>
    <div>
        <div><a href="https://www.linkedin.com/in/professional-code-monkey">Linked In</a></div>
        <div><a href="https://github.com/MatthewErickson">GitHub</a></div>
    </div>
    <p>Upcoming additions to the site:</p>
    <ul>
        <li>"Wheel of Fortune" style phrase predictor</li>
        <li>Sudoku</li>
        <li>Conversion page for various common conversions (e.g. hex to binary)</li>
    </ul>
</div>
{% endblock %}
