{% extends "hades/base.html" %}
{% load static %}

{% block title %}Matt Erickson{% endblock %}

{% block content %}
<div class="container larger">
    <p>Hello, I'm Matthew Erickson</p>
    <p>I currently work at Expedia as a software developer on the Expedia
    Search and Suggest team. We focus on typeahead suggestions and search
    resolution</p>
    <p>In my free time I like to go rock climbing, hiking, work on personal
    coding projects, and hang out with friends... This just started to sound
    like a dating profile... haha</p>
    <p>Anyway, here's my website</p>
</div>
{% endblock %}
