{% extends "hades/base.html" %}
{% load static %}

{% block title %}Nerd Wall{% endblock %}

{% block content %}
<div class="container">
    <h2 class="container center">xkcd comics</h2>
    <div class="container row">
        <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"><img width="100%" src="https://imgs.xkcd.com/comics/wisdom_of_the_ancients.png"></div>
        <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"><img width="100%" src="https://imgs.xkcd.com/comics/santa.png"></div>
        <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"><img width="100%" src="https://imgs.xkcd.com/comics/estimating_time.png"></div>
        <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"><img width="100%" src="https://imgs.xkcd.com/comics/algorithms.png"></div>
        <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"><img width="100%" src="https://imgs.xkcd.com/comics/correlation.png"></div>
        <p>For more, please see: <a href="https://xkcd.com">xckd.com</a></p>
    </div>
</div>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'hades/css/nerdy.css' %}">
{% endblock %}