{% extends "hades/base.html" %}
{% load static %}

{% block title %}Hades - {{ showName }}{% endblock %}

{% block content %}
<div class="container">
	<div class="center">
		<h1>{{ show.name }}</h1>
	</div>
	<span class="hidden aria-hidden" id="videoAnchor"></span>
	<div class="center">
		<video controls id="video" class="container center">
			<source type="video/mp4" id="source-mp4">
			<source type="video/mkv" id="source-mkv">
		</video>
	</div>

	<div class="container">
	{% if episodes %}
		<div class="row">
		{% for episode in episodes %}
			{% if episode.number == 1 %}
			<div class="col-xs-12">
				<h2 class="center">Season {{ episode.season }}</h2>
			</div>
			{% endif %}
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<button class="btn btn-default hades-button margin10 video-button"
				onclick="loadEpisode('{{ episode.url }}');">
					{{ episode }}
				</button>
			</div>
		{% endfor %}
		</div>
	{% endif %}
	</div>
</div>

{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script src="{% static 'hades/js/video.js' %}"></script>
{% endblock %}
