{% extends "hades/base.html" %}
{% load static %}

{% block content %}
{% if data %}
	<table id="table" align="center">
	{% for row in data %}{% with forloop.counter0 as rowIndex %}
		<tr>
		{% for col in row %}{% with forloop.counter0 as colIndex %}
			<td>
				<input min="1" max="9" maxlength="1" id="{{ rowIndex }}-{{ colIndex }}" type="number"
				{% if col != 0 %}
					value="{{ col }}" disabled="true" class="closed" 
				{% else %}
					value="" class="open" 
				{% endif %}
				>
			</td>
		{% endwith %}{% endfor %}
		</tr>
	{% endwith %}{% endfor %}
	</table>
{% endif %}
{% endblock %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'hades/css/sudoku.css' %}">
{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script src="{% static 'hades/js/sudoku.js' %}"></script>
{% endblock %}
