{% extends "hades/base.html" %}
{% load static %}

{% block title %}Hades - Shows{% endblock %}

{% block content %}
<div class="container center">
	{% if allShows %}
		<div class="row">
			{% for show in allShows %}
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<a class="btn btn-default hades-button margin10" href="{% url 'hades:show' showName=show.name %}">
						{{ show.name }}
					</a>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<h2>No shows available</h2>
	{% endif %}
</div>
{% endblock %}
