/* Global CSS */
html {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Times New Roman", Times, serif;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background: white;
}

img {
    padding: 5px;
    margin: 5px;
}

smaller {
    font-size: 0.5em;
}

normal {
    font-size: 1em;
}

larger {
    font-size: 1.5em;
}

.header {
    width: 100%;
    padding: 1em;
    margin-bottom: 0.25em;
    margin-top: 1em;
    opacity: 50%;
    text-decoration: none;
}

.footer {
	width: 100%;
	padding: 1em;
	margin-bottom: 0.25em;
	margin-top: 1em;
	opacity: 50%;
	text-decoration: none;
}

.center {
	text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

.margin10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.inline {
	display: inline;
}

.gone {
	display: none;
}

.hidden {
	visibility: hidden;
}

.error {
	color: red;
	font-weight: bold;
}

.fixed-bottom {
	position: fixed;
	bottom: 0;
}

/* Blog CSS */
#createEntry {
    max-width: 600px;
}

.entry {
    text-align: justify;
    text-justify: inter-word;
    padding: 0.5em;
    margin: 0.5em;

    h3 {
        margin-top: 0px;
    }
}
