html {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Times New Roman", Times, serif;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background: linear-gradient(#BBB, #999, #666, #999);
	font-size: 2em;
	text-overflow: hidden;
}

.container {
	width: 100%;
}

normal {
    font-size: 1em;
}

larger {
    font-size: 2em;
}

.header {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    opacity: 50%;
    text-decoration: none;
}

.footer {
	width: 100%;
	padding: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
	opacity: 50%;
	text-decoration: none;
}

.center {
	text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

.margin10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.inline {
	display: inline;
}

.gone {
	display: none;
}

.hidden {
	visibility: hidden;
}

.error {
	color: red;
	font-weight: bold;
}

.fixed-bottom {
	position: fixed;
	bottom: 0;
}
