html {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Times New Roman", Times, serif;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background: linear-gradient(#DDD, #BBB, #999, #BBB, #DDD);
}

code {
	font-family: "Times New Roman", Times, serif;
	background-color: inherit;
	color: black;
}

video {
	background-color: #EEE;
	max-width: 1280px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.navbar-nav a {
	font-size: 20px;
}

.navbar-header a {
	font-size: 24px;
	font-weight: bold;
}

.container {
	width: 100%;
}

.half-width {
	width: 50%;
}

.demonic {
	color: red;
	font-size: 48px;
}

.footer {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #CACACA;
	opacity: 50%;
}

.footer {
	text-decoration: none;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.inline {
	display: inline;
}

.left {
	float: left;
}

.right {
	float: right;
}

.hades-button {
	text-align: center;
	width: 100%;
	font-size: 16px;
}

.margin10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.hidden {
	visibility: hidden;
}

.gone {
	display: none; 
}

.navbar-toggle {
	z-index: 3;
}

.error {
	color: red;
	font-weight: bold;
}

.fixed-bottom {
	position: fixed;
	bottom: 0;
}
