table {
	height: 80%;
	width: 80%;
	font-family: "Courier";
}

tr {
	height: 11%;
}

td {
	width: 11%;
	border: solid 3px #666;
}

input {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 5vh;
}

.open {
	background-color: #DDD;
	font-weight: bold;
}

.closed {
	background-color: #AAA;
	font-weight: bold;
}
